.DS_STORE
.env

# Node
**/node_modules
**/.eslintcache
**/.nvmrc
**/dist/

# Django #
*.log
*.pot
*.pyc
__pycache__
**/db.sqlite3
media

# Backup files
*.bak

# Python
*.py[cod]
*$py.class

# Installer logs
python/pip-log.txt

# Python env
python/env
